html, body {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  scroll-behavior: smooth;
  /* background-color: black;
  color: white; */
}
a {
  color: inherit;
  text-decoration: none;
}

.content{
  padding: 3vh 0;
}
.banner{
  padding-top: 5vh;
}
.banner-left{
  justify-content: space-evenly;
}
p, .p{
  font-weight: 300 ;
}
.features{
  background-color: #E6E6E6;
}
.features .col{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 400 ;
}
.features .img-container{
  padding: 5vh;
  border-radius: 10px;
  border: 1px solid #AAAAAA50;
}
.download{
  background-color: #FFF312;
}

.btn-secondary{
  background-color: #0455BC;
  color: white;
}

.btn{
  border-color: #0455BC;
}
.btn:hover{
  background-color: #0455BC;
  color: white;
}

.btn-outline-secondary{
  background-color: transparent;
  color: #0455BC;
}

form{
  padding: 5vh;
  border: #0455BC 1px solid;
  border-radius: 20px;
}

.info{
  font-size: 12px;
  font-weight: 300;
}

footer a {
  margin: 0 10px;
}

@media (max-width: 600px) {
  .banner{
    padding-top: 0;
  }
  .banner-left{
    align-items: center;
    gap: 2rem;
    padding-bottom: 5vh;
    text-align: center;
  }
  .features .col{
    margin-bottom: 5vh;
  }
  form{
    padding: 0;
    border: none;
  }
  p, .p{
    font-weight: 300 ;
    padding: 2vw;
  }
}